*.idea
__pycache__/
*.tmp
*_model.bin
*.lprof
test.py
Pipeline/test.py
*.rec
*.pdf
Pipeline/pipeinfer/
Pipeline/pipeinfer/pipeinfer.py
*.txt
!requirements.txt
!requirements_jetson.txt
Pipeline/tp
Pipeline/run_tp.sh
Pipeline/run_eval2.sh
Pipeline/run_jetson_eval2.sh
Pipeline/run_pipe_eval2.py
Pipeline/run_pipe_eval3.py
Pipeline/run_pipe_copy.py
*.pt